<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>{% block title %}{% endblock %} | drone delivery service</title>
	<link rel="stylesheet" type="text/css" href="app.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class='title-bar'>
		<h1 class='title'>
			drone delivery service 
			<span class='sub-title'>
				| 
				{% block short_title %}{% endblock %}
			</span>
		</h1>
	</div>
	<div class='content'>
		{% block content %}{% endblock %}
	</div>
</body>
</html>