* {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0px;
	font-size: 12px;
	background-color:#f8f8f8;
}

.title-bar {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 0.2em;
	background-color: #f0f0f0;
	border-bottom: 1px solid #b0b0b0;
}

.title-bar-content {
	margin-left:300px;
	margin-right:300px;
}

h1 {
	font-size: 3em;
	font-weight: lighter;
	margin: 0.2em;
}

.title {
	color: #505050;
	float: left;
}

.sub-title {
	color: #b0b0b0;
}

.session-status-box {
	margin:1.5em;
	float: right;
}

.content {
	background-color: #ffffff;
	position: relative;
	top: 4em;
	margin-left:300px;
	margin-right:300px;
	border-left: 1px solid #b0b0b0;
	border-right: 1px solid #b0b0b0;
	border-bottom: 1px solid #b0b0b0;
	padding: 1em;
}

.login-container {
	width: 200px;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
}

.input-box {
	margin: 3px;
	padding: 3px;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	background-color: #ffffff;
}

.input-box:focus {
	box-shadow: 0px 0px 2px #888888;
}