{% extends "app/app-base.html" %}

{% block title %}inventory{% endblock %}
{% block short_title %}inventory{% endblock %}

{% block content %}
	

	{% if inventory_items %}
		<ul id='inventory-list'>
		{% for item in inventory_items %}

			
			<div class='inventory-item' id='item-{{ item.product_name|slugify }}'>
				<a href='#item-{{ item.product_name|slugify }}' class='inventory-item-expand'></a>
				<strong>{{ item.product_name }}</strong>
				<a href='#' class='inventory-item-min'>[-]</a>
				{% if item.stock_count > 0 %}
					<a class='order-button' href='account' >add to cart</a>
				{% endif %}
				<br>
				{% if item.stock_count > 0 %}
					{{ item.stock_count }} in stock
				{% else %}
					out of stock
				{% endif %}
				<div class='item-description-container'>
					<div class='item-description'>
						Description:
						
						<br><br>
						{{ item.description }}
					</div>
				</div>
			</div>
		{% endfor %}
		</ul>
	{% else %}
		<p>No items availible.</p>
	{% endif %}


{% endblock %}

