{% extends "app/app-base.html" %}

{% block title %}inventory{% endblock %}
{% block short_title %}inventory{% endblock %}

{% block content %}
	

	{% if inventory_items %}
		<ul id='inventory-list'>
		{% for item in inventory_items %}

			
			<div class='inventory-item' id='item-{{ item.product_name|slugify }}'>
				<a href='#item-{{ item.product_name|slugify }}' class='inventory-item-expand'></a>
				<strong>{{ item.product_name }}</strong>
				<a href='#' class='inventory-item-min'>[-]</a>
				{% if item.stock_count > 0 %}
					<a class='order-button' href='#add-{{ item.product_name|slugify }}' >add to cart</a>
				{% endif %}
				<br>
				{% if item.stock_count > 0 %}
					{{ item.stock_count }} in stock
				{% else %}
					out of stock
				{% endif %}
				<div class='item-description-container'>
					<div class='item-description'>
						<p style='float:right;'>price: ${{ item.price }}</p>
						<p>Description:</p>
						{{ item.description }}
					</div>
				</div>
			</div>
		{% endfor %}
		</ul>
		{% for item in inventory_items %}
			<div class='add-item-dialog-container' id='add-{{ item.product_name|slugify }}'>
				<div class='screen-shade'></div>
				<div class='add-item-dialog'>
					<div class='add-item-dialog-content'>
						<a class='add-item-dialog-min' href='#item-{{ item.product_name|slugify }}'>X</a>
						<h3>add to cart</h3>
						<p>price: ${{ item.price }}</p>
						<form class='add-item-form' method='post'>{% csrf_token %}
							Quantity
							<input class='input-box' type='number' value='1' min='0' max='{{ item.stock_count }}'><br>
							<input class='input-box' type="submit" name='submit' value='add and keep shopping'>
							<input class='input-box' type="submit" name='submit' value='add and go to checkout'>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No items availible.</p>
	{% endif %}


{% endblock %}

