{% extends "app/app-base.html" %}

{% block title %}log in to your account{% endblock %}
{% block short_title %}login{% endblock %}

{% block content %}
	
	<div class='login-container'>
		<form method='post'>{% csrf_token %}
			<input id='username-box' class='input-box' type='text' name='username' placeholder='username'><br>
			<input id='password-box' class='input-box' type='password' name='password' placeholder='password'><br>
			<input id='login-button' class='input-box' type="submit" name='submit' value='log in'>
		</form>
		<p>
			Don't have an account?<br>
			<a href="register">Register here.</a>
		</p>

	</div>


{% endblock %}

