{% extends "app/app-base.html" %}

{% block title %}create an account{% endblock %}
{% block short_title %}register{% endblock %}

{% block content %}
	
	<h1>create an account</h1>

	<div>
		<form method='post'>{% csrf_token %}
		<table>
		<tr><td>
			<div class='registration-item-half'>
				First Name
				<input id='firstname-box' class='registration-input' type='text' name='firstname' pattern="[A-Za-z-]+" oninvalid="setCustomValidity('Please enter a name with only letters and hyphens.')" onchange="try{setCustomValidity('')}catch(e){}" required>
				<span class='registration-issues'></span>
			</div>
			<div class='registration-item-half'>
				Last Name
				<input id='lastname-box' class='registration-input' type='text' name='lastname' pattern="[A-Za-z-]+" oninvalid="setCustomValidity('Please enter a name with only letters and hyphens.')" onchange="try{setCustomValidity('')}catch(e){}" required>
				<span class='registration-issues'></span>
			</div>
		</td></tr>
		<tr><td>
			<div class='registration-item'>
				Email Address
				<input id='email-box' class='registration-input' type='text' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" oninvalid="try{setCustomValidity('Please enter a valid email address.')" onchange="setCustomValidity('')}catch(e){}" required>
			</div>
		</td></tr>
		<tr><td>
			<div class='registration-item-half'>
				Username
				<input id='username-box' class='registration-input' type='text' pattern="[A-Za-z0-9.-]+{6,}$" name='username' oninvalid="try{setCustomValidity('Please enter a username that is at least 6 characters long and only contains letters, numbers, hyphens, and periods.')" onchange="setCustomValidity('')}catch(e){}" required>
			</div>
			<div class='registration-item-half'>
				
			{% if userExists %}
				<div>
					<div class='registration-item-desc' style='color:#cc1111'>
					User already exists
					</div>
				</div>
			{% endif %}
				
			</div>
		</td></tr>
		<tr><td>
			<div class='registration-item-half'>
				Password
				<input id='password-box' class='registration-input' type='password' name='password' pattern="[A-Za-z0-9]+{6,}$" oninvalid="try{setCustomValidity('Please enter a password that is at least 6 characters long and only contains letters and numbers.')" onchange="setCustomValidity('')}catch(e){}" required>
			</div>
			<div class='registration-item-half'>
				<div class='registration-item-desc'>
					password strength: strong
				</div>
			</div>
		</td></tr>
		<tr><td>
			<div class='registration-item-half'>
				Credit Card Number
				<input id='ccn-box' class='registration-input' type='text' name='ccn' pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}$" oninvalid="try{setCustomValidity('Please enter a valid credit card number (\'1234 1234 1234 1234\').')" onchange="setCustomValidity('')}catch(e){}" required>
			</div>
			<div class='registration-item-half'>
				Expiry Date
				<input id='ccn-exp-box' class='registration-input' type='month' placeholder='mm/yyyy' name='ccnexp' required>
			</div>
		</td></tr>
		<tr><td>
			<div class='registration-item'>
				Address Line 1
				<input id='address1-box' class='registration-input' type='text' name='address1' required>
			</div>
		</td></tr>
		<tr><td>
			<div class='registration-item'>
				Address Line 2
				<input id='address2-box' class='registration-input' type='text' name='address2'>
			</div>
		</td></tr>
		</table>
		<input id='submit-button' class='input-box' type="submit" name='submit' value='submit'>
		</form>
	</div>

	<!--{% if login %}
		<h1>Testing</h1>
	{% endif %}-->


{% endblock %}
