{% extends "app/app-base.html" %}

{% block title %}order status{% endblock %}
{% block short_title %}status{% endblock %}

{% block content %}

	<script type='text/javascript' src='/static/app/googleapikey.js'></script>
	<script type="text/javascript">
	var invoice_id = {{ invoice_id }}
	</script>
	<script type='text/javascript' src='/static/app/map.js'></script>
	

	<h3>order status | <span id='status'>...</span></h3>
	<div id='map'></div>

	<a href='history#invoice-{{ invoice_id }}'>go to invoice details</a>


{% endblock %}
